<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Daniel Schobel</title>
        <meta name="description" content="Daniel Schobel's blog">
        <meta name="author" content="Daniel Schobel">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <style>
            body { padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */ }
        </style>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="/">Daniel Schobel</a></li>
                  <li><a href="/About.html">About</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li> <a href="/" >Posts</a> </li>
                            <li class="nav-header">External</li>
                            <li> <a href="https://github.com/dschobel" target="_blank">me @ Github</a> </li>
                            <li> <a href="https://twitter.com/dschobel" target="_blank">me @ Twitter</a> </li>
                        </ul>

                    </div><!--/.well -->
                </div><!--/span2-->
                <div class="span10"> {{ content }} </div>
            </div> <!-- /row-fluid -->
        </div><!-- /container-fluid-->


        <!-- Le javascript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38538377-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
      </body>
  </html>
